.textCenter {
    text-align: center;
    padding-bottom: 30px;
}

.header {
    height: 760px;
    background-image: url("../img/banner.PNG");
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}

.color1 {
    background-color: #ffdead;
    padding: 15px 0px;
    height: 500px;
}

.color2 {
    background-color: #EBEBEB;
    padding: 15px 0px;
    height: 500px;
}

.sectionOne {
    background-color: white;
    padding: 5px;
    height: 300px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
}

.sectionTwo {
    background-color: white;
    height: 300px;
    margin-bottom: 15px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #DFDFDF;
}

#map {
    width: 555px;
    height: 150px;
    object-fit: cover;
}

.imgFit {
    height: 150px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.resturantFit {
    width: 555px;
    height: 299px;
    object-fit: cover;
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
}

.sectionText {
    padding-left: 10px;
}

.center{
    text-align: center;
    
}

.footer {
    background-color: #391D18;
    padding: 15px;
    height: 350px;
    margin-bottom: 0px;
    color: #EEEEEE;
    padding: 50px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover{
    background-color: #111111;
}

